In [46]:
import pandas as pd

Find vairables using ML models. Use them with other columns to find sustainability score. Higher score means better location

Sustainability score for data center = x(Environmental impact)+y(Renewable profile)+z(Infrastructure proximity)

Environmental impact = carbon intensity + Water intensity = $\frac{\text{CO_2e emission}}{\text{Net generation(MWh)}}$ + Water Intensity

Renewable profile = contribution of renewable energy = $\frac{\text{total PCA generation from renewable energy}}{\text{total PCA generation}}$

Infrastructure proximity = Grid stability + fiber distance

In [48]:
df_sheets = pd.read_excel("14504913/SI_XLS/SI_XLS/Input data.xlsx", sheet_name=None)

In [61]:
df_sheet1 = df_sheets["TOC"]  
print(df_sheet1)

  List of tables                                         Unnamed: 1
0            NaN                                                NaN
1        Table 1  Scalled energy use by data center type from th...
2        Table 2  Water and carbon intensity of power plants in ...
3        Table 3  Inter PCA electricity transfers to match elect...
4        Table 4            Spatial join of subbasins with the PCAs
5        Table 5          Characterization factors of the subbasins
6        Table 6  Scalled energy use by data centers from the US...

Dataframe for Carbon Emisisons

In [50]:
df1 = df_sheets['Table 1']
df1.columns = ['PCA Name', 'Internal Data Centers Scaled power Consumption 2018 (MWh)', 'Colocation data center Scaled Power Consumption 2018 (MWh)', 'Hyperscale data center Scaled Power Consumption 2018 (MWh)', 'Total Scaled Power Consumption (MWh)']
df1 = df1[3:].reset_index(drop=True) 
df1

,PCA Name,Internal Data Centers Scaled power Consumption 2018 (MWh),Colocation data center Scaled Power Consumption 2018 (MWh),Hyperscale data center Scaled Power Consumption 2018 (MWh),Total Scaled Power Consumption (MWh)
0,"Alcoa Power Generating, Inc. - Yadkin Division",923.350417,278.208552,283.613404,1485.172374
1,Anchorage Municipal Light & Power,34519.008414,0,0,34519.008414
2,Arizona Public Service Company,29418.7276,86543.621606,88089.328184,204051.677389
3,"Arlington Valley, LLC - AVBA",3173.747194,10430.744529,10617.092661,24221.584384
4,"Associated Electric Cooperative, Inc.",33689.491674,6205.711663,6316.120266,46211.323604
...,...,...,...,...,...
68,Turlock Irrigation District,26044.394227,18487.373539,18817.998147,63349.765913
69,Western Area Power Administration - Desert Sou...,296287.097429,323804.650252,329586.639356,949678.387037
70,Western Area Power Administration - Rocky Moun...,168204.778329,95200.267568,96900.251272,360305.297169
71,Western Area Power Administration UGP West,6137.638283,3190.055527,3247.124693,12574.818504
72,Grand Total,26886227.77478,22400000,22800000,72086227.77478

In [51]:
df2 = df_sheets['Table 2']
df2.columns = df2.iloc[1] 
df2 = df2[2:].reset_index(drop=True) 
df2

1,Plant state,Plant name,Plant Id,Balancing Authority Name,Balancing Authority Code,PCA Generation (MWh),Latitude,Longitude,Plant primary fuel,Plant primary fuel code,Net generation (MWh),CO2-e Emission (tons),Water intensity (m3/MWh),Carbon intensity (Tons/MWh),Generation Ratio of Power plant,Water Consumption (m3),Subbasin,HUC8,HUC8 ID
0,AL,ABC Coke,56076,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.582793,-86.779866,COG,COAL,5290,1552.988,1.847267,0.293571,0.000021,9772.043741,Locust,03160111,3160111
1,AL,Alabama Pine Pulp,54429,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,31.5825,-87.4889,BLQ,BIOMASS,413079.77,10436.106,1.937552,0.025264,0.001617,800363.491644,Lower Alabama,03150204,3150204
2,AL,Alabama River Pulp,10216,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,31.5825,-87.4889,BLQ,BIOMASS,308063.28,12986.077,1.937552,0.042154,0.001206,596888.592313,Lower Alabama,03150204,3150204
3,AL,AMEA Sylacauga Plant,56018,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.1661,-86.2825,NG,GAS,34570,22786.699,0.797026,0.659147,0.000135,27553.194096,Lower Coosa,03150107,3150107
4,AL,ANAD Solar Array,60680,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.626728,-85.969481,SUN,SOLAR,17168,0,0.0076,0,0.000067,130.4768,Middle Coosa,03150106,3150106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,WY,Western Sugar Coop - Torrington,57967,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,42.0469,-104.1863,NG,GAS,6262.32,2141.555,0.797026,0.341975,0.000139,4991.232816,Middle North Platte-Scotts Bluff,10180009,10180009
8399,WY,Wygen I,55479,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2858,-105.3833,SUB,COAL,639452,837289.793,1.847267,1.309386,0.014159,1181238.736213,Upper Belle Fourche,10120201,10120201
8400,WY,Wygen II,56319,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2919,-105.3811,SUB,COAL,769549,989898.885,1.847267,1.286336,0.01704,1421562.663365,Upper Belle Fourche,10120201,10120201
8401,WY,Wygen III,56596,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2919,-105.3806,SUB,COAL,852015,1070965.4,1.847267,1.25698,0.018866,1573899.404232,Upper Belle Fourche,10120201,10120201
8402,WY,Wyodak,6101,PacifiCorp - East,PACE,59310290.848,44.290128,-105.381482,SUB,COAL,2251976,3011962.311,1.847267,1.337475,0.037969,4160001.507889,Upper Belle Fourche,10120201,10120201

In [52]:
df4 = df_sheets['Table 4']
df4.columns = df4.iloc[1] 
df4 = df4[2:].reset_index(drop=True) 
df4

1,Subbasin,HUC8,Subbasin Area (m2),HUC8 ID,PCA Name
0,Upper St. John,01010001,17222890136.599998,1010001,ISO New England Inc.
1,Upper St. John,01010001,17222890136.599998,1010001,New Brunswick System Operator
2,Allagash,01010002,3198097222.04,1010002,ISO New England Inc.
3,Allagash,01010002,3198097222.04,1010002,New Brunswick System Operator
4,Fish,01010003,2304014818.42,1010003,ISO New England Inc.
...,...,...,...,...,...
2968,Whitewater River,18100201,3886349590.72,18100201,California Independent System Operator
2969,Carrizo Creek,18100202,1818917328.07,18100202,California Independent System Operator
2970,San Felipe Creek,18100203,2390774785.12,18100203,California Independent System Operator
2971,Salton Sea,18100204,10459920945,18100204,Western Area Power Administration - Desert Sou...
2972,Salton Sea,18100204,10459920945,18100204,Imperial Irrigation District

In [53]:
df5 = df_sheets['Table 5']
df5.columns = df5.iloc[1] 
df5 = df5[2:].reset_index(drop=True) 
df5

1,HUC8 ID,Subbasin,Scaled Power Consumption (MWh),Characterization factor
0,1010001,Upper St. John,887.732534,0.240074
1,1010002,Allagash,0,0.334706
2,1010003,Fish,1242.825547,0.311171
3,1010004,Aroostook,1953.011574,0.309205
4,1010005,Meduxnekeag,1597.918561,0.277446
...,...,...,...,...
2094,18100100,Southern Mojave,19117.122316,100
2095,18100201,Whitewater River,42482.494895,20.27964
2096,18100202,Carrizo Creek,10074.259296,46.577097
2097,18100203,San Felipe Creek,5482.21108,31.673298
2098,18100204,Salton Sea,11074.329868,100

In [54]:
# PCA demand intensity calculation
df1_2 = pd.merge(IntensityDF, df1[['PCA Name', 'Total Scaled Power Consumption (MWh)']], 
              left_on='Balancing Authority Name', right_on = "PCA Name", how='left')
df1_2

,Plant state,Plant name,Plant Id,Balancing Authority Name,Balancing Authority Code,PCA Generation (MWh),Latitude,Longitude,Plant primary fuel,Plant primary fuel code,...,CO2-e Emission (tons),Water intensity (m3/MWh),Carbon intensity (Tons/MWh),Generation Ratio of Power plant,Water Consumption (m3),Subbasin,HUC8,HUC8 ID,PCA Name,Total Scaled Power Consumption (MWh)
0,AL,ABC Coke,56076,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.582793,-86.779866,COG,COAL,...,1552.988,1.847267,0.293571,0.000021,9772.043741,Locust,03160111,3160111,"Southern Company Services, Inc. - Trans",2594357.769933
1,AL,Alabama Pine Pulp,54429,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,31.5825,-87.4889,BLQ,BIOMASS,...,10436.106,1.937552,0.025264,0.001617,800363.491644,Lower Alabama,03150204,3150204,"Southern Company Services, Inc. - Trans",2594357.769933
2,AL,Alabama River Pulp,10216,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,31.5825,-87.4889,BLQ,BIOMASS,...,12986.077,1.937552,0.042154,0.001206,596888.592313,Lower Alabama,03150204,3150204,"Southern Company Services, Inc. - Trans",2594357.769933
3,AL,AMEA Sylacauga Plant,56018,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.1661,-86.2825,NG,GAS,...,22786.699,0.797026,0.659147,0.000135,27553.194096,Lower Coosa,03150107,3150107,"Southern Company Services, Inc. - Trans",2594357.769933
4,AL,ANAD Solar Array,60680,"Southern Company Services, Inc. - Trans",SOCO,255414543.497,33.626728,-85.969481,SUN,SOLAR,...,0,0.0076,0,0.000067,130.4768,Middle Coosa,03150106,3150106,"Southern Company Services, Inc. - Trans",2594357.769933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,WY,Western Sugar Coop - Torrington,57967,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,42.0469,-104.1863,NG,GAS,...,2141.555,0.797026,0.341975,0.000139,4991.232816,Middle North Platte-Scotts Bluff,10180009,10180009,Western Area Power Administration - Rocky Moun...,360305.297169
8399,WY,Wygen I,55479,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2858,-105.3833,SUB,COAL,...,837289.793,1.847267,1.309386,0.014159,1181238.736213,Upper Belle Fourche,10120201,10120201,Western Area Power Administration - Rocky Moun...,360305.297169
8400,WY,Wygen II,56319,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2919,-105.3811,SUB,COAL,...,989898.885,1.847267,1.286336,0.01704,1421562.663365,Upper Belle Fourche,10120201,10120201,Western Area Power Administration - Rocky Moun...,360305.297169
8401,WY,Wygen III,56596,Western Area Power Administration - Rocky Moun...,WACM,45162128.319,44.2919,-105.3806,SUB,COAL,...,1070965.4,1.847267,1.25698,0.018866,1573899.404232,Upper Belle Fourche,10120201,10120201,Western Area Power Administration - Rocky Moun...,360305.297169
8402,WY,Wyodak,6101,PacifiCorp - East,PACE,59310290.848,44.290128,-105.381482,SUB,COAL,...,3011962.311,1.847267,1.337475,0.037969,4160001.507889,Upper Belle Fourche,10120201,10120201,PacifiCorp - East,1371471.370995

In [55]:
dfCarbon = df1_2.loc[df1_2['Carbon intensity (Tons/MWh)'] > 0]
dfCarbon = dfCarbon.drop(columns = ['Plant name', 'Plant Id', 'Balancing Authority Name', 'Plant primary fuel', 'Water intensity (m3/MWh)', 'Carbon intensity (Tons/MWh)', 'Subbasin', 'HUC8', 'HUC8 ID', 'PCA Name'], axis = 1)
print(dfCarbon)

     Plant state Balancing Authority Code PCA Generation (MWh)   Latitude  \
0             AL                     SOCO        255414543.497  33.582793
1             AL                     SOCO        255414543.497    31.5825
2             AL                     SOCO        255414543.497    31.5825
3             AL                     SOCO        255414543.497    33.1661
5             AL                     SOCO        255414543.497    31.0069
...          ...                      ...                  ...        ...
8398          WY                     WACM         45162128.319    42.0469
8399          WY                     WACM         45162128.319    44.2858
8400          WY                     WACM         45162128.319    44.2919
8401          WY                     WACM         45162128.319    44.2919
8402          WY                     PACE         59310290.848  44.290128

       Longitude Plant primary fuel code Net generation (MWh)  \
0     -86.779866                    COAL                 5290
1       -87.4889                 BIOMASS            413079.77
2       -87.4889                 BIOMASS            308063.28
3       -86.2825                     GAS                34570
5       -88.0103                    COAL             10464916
...          ...                     ...                  ...
8398   -104.1863                     GAS              6262.32
8399   -105.3833                    COAL               639452
8400   -105.3811                    COAL               769549
8401   -105.3806                    COAL               852015
8402 -105.381482                    COAL              2251976

     CO2-e Emission (tons) Generation Ratio of Power plant  \
0                 1552.988                        0.000021
1                10436.106                        0.001617
2                12986.077                        0.001206
3                22786.699                        0.000135
5              8059602.551                        0.040972
...                    ...                             ...
8398              2141.555                        0.000139
8399            837289.793                        0.014159
8400            989898.885                         0.01704
8401             1070965.4                        0.018866
8402           3011962.311                        0.037969

     Water Consumption (m3) Total Scaled Power Consumption (MWh)
0               9772.043741                       2594357.769933
1             800363.491644                       2594357.769933
2             596888.592313                       2594357.769933
3              27553.194096                       2594357.769933
5           18506693.437155                       2594357.769933
...                     ...                                  ...
8398            4991.232816                        360305.297169
8399         1181238.736213                        360305.297169
8400         1421562.663365                        360305.297169
8401         1573899.404232                        360305.297169
8402         4160001.507889                       1371471.370995

[2944 rows x 11 columns]

In [56]:
print(dfCarbon.columns)

Index(['Plant state', 'Balancing Authority Code', 'PCA Generation (MWh)',
       'Latitude', 'Longitude', 'Plant primary fuel code',
       'Net generation (MWh)', 'CO2-e Emission (tons)',
       'Generation Ratio of Power plant', 'Water Consumption (m3)',
       'Total Scaled Power Consumption (MWh)'],
      dtype='object')

Dataframe for Water Intensity

In [57]:
df2_5 = pd.merge(
    df2,
    df5[['HUC8 ID', 'Characterization factor']],  # Extract relevant columns from Table 5
    on='HUC8 ID',
    how='left'
)

# Step 2: Merge the result with Table 4 using HUC8 ID
df2_5_4 = pd.merge(
    df2_5,
    df4[['HUC8 ID', 'PCA Name']],  # Extract relevant columns from Table 4
    on='HUC8 ID',
    how='left'
)

# Step 3: Merge with Table 1 using PCA Name
df1_2_4_5 = pd.merge(
    df2_5_4,
    df1[['PCA Name', 'Total Scaled Power Consumption (MWh)']],  # Extract relevant columns from Table 1
    on='PCA Name',
    how='left'
)

df1_2_4_5 = df1_2_4_5.loc[df1_2_4_5['Water intensity (m3/MWh)'] > 0]

print(df1_2_4_5)

      Plant state                       Plant name Plant Id  \
0              AL                         ABC Coke    56076
1              AL                Alabama Pine Pulp    54429
2              AL               Alabama River Pulp    10216
3              AL             AMEA Sylacauga Plant    56018
4              AL             AMEA Sylacauga Plant    56018
...           ...                              ...      ...
10948          WY  Western Sugar Coop - Torrington    57967
10949          WY                          Wygen I    55479
10950          WY                         Wygen II    56319
10951          WY                        Wygen III    56596
10952          WY                           Wyodak     6101

                                Balancing Authority Name  \
0                Southern Company Services, Inc. - Trans
1                Southern Company Services, Inc. - Trans
2                Southern Company Services, Inc. - Trans
3                Southern Company Services, Inc. - Trans
4                Southern Company Services, Inc. - Trans
...                                                  ...
10948  Western Area Power Administration - Rocky Moun...
10949  Western Area Power Administration - Rocky Moun...
10950  Western Area Power Administration - Rocky Moun...
10951  Western Area Power Administration - Rocky Moun...
10952                                  PacifiCorp - East

      Balancing Authority Code PCA Generation (MWh)   Latitude   Longitude  \
0                         SOCO        255414543.497  33.582793  -86.779866
1                         SOCO        255414543.497    31.5825    -87.4889
2                         SOCO        255414543.497    31.5825    -87.4889
3                         SOCO        255414543.497    33.1661    -86.2825
4                         SOCO        255414543.497    33.1661    -86.2825
...                        ...                  ...        ...         ...
10948                     WACM         45162128.319    42.0469   -104.1863
10949                     WACM         45162128.319    44.2858   -105.3833
10950                     WACM         45162128.319    44.2919   -105.3811
10951                     WACM         45162128.319    44.2919   -105.3806
10952                     PACE         59310290.848  44.290128 -105.381482

      Plant primary fuel Plant primary fuel code  ...  \
0                    COG                    COAL  ...
1                    BLQ                 BIOMASS  ...
2                    BLQ                 BIOMASS  ...
3                     NG                     GAS  ...
4                     NG                     GAS  ...
...                  ...                     ...  ...
10948                 NG                     GAS  ...
10949                SUB                    COAL  ...
10950                SUB                    COAL  ...
10951                SUB                    COAL  ...
10952                SUB                    COAL  ...

      Water intensity (m3/MWh) Carbon intensity (Tons/MWh)  \
0                     1.847267                    0.293571
1                     1.937552                    0.025264
2                     1.937552                    0.042154
3                     0.797026                    0.659147
4                     0.797026                    0.659147
...                        ...                         ...
10948                 0.797026                    0.341975
10949                 1.847267                    1.309386
10950                 1.847267                    1.286336
10951                 1.847267                     1.25698
10952                 1.847267                    1.337475

      Generation Ratio of Power plant Water Consumption (m3)  \
0                            0.000021            9772.043741
1                            0.001617          800363.491644
2                            0.001206          596888.592313
3                            0.000135           27553.194096
4                            0.000135           27553.194096
...                               ...                    ...
10948                        0.000139            4991.232816
10949                        0.014159         1181238.736213
10950                         0.01704         1421562.663365
10951                        0.018866         1573899.404232
10952                        0.037969         4160001.507889

                               Subbasin      HUC8   HUC8 ID  \
0                                Locust  03160111   3160111
1                         Lower Alabama  03150204   3150204
2                         Lower Alabama  03150204   3150204
3                           Lower Coosa  03150107   3150107
4                           Lower Coosa  03150107   3150107
...                                 ...       ...       ...
10948  Middle North Platte-Scotts Bluff  10180009  10180009
10949               Upper Belle Fourche  10120201  10120201
10950               Upper Belle Fourche  10120201  10120201
10951               Upper Belle Fourche  10120201  10120201
10952               Upper Belle Fourche  10120201  10120201

      Characterization factor  \
0                    0.288336
1                         0.1
2                         0.1
3                         0.1
4                         0.1
...                       ...
10948                1.029361
10949                5.077371
10950                5.077371
10951                5.077371
10952                5.077371

                                                PCA Name  \
0                Southern Company Services, Inc. - Trans
1                Southern Company Services, Inc. - Trans
2                Southern Company Services, Inc. - Trans
3                Southern Company Services, Inc. - Trans
4                          PowerSouth Energy Cooperative
...                                                  ...
10948  Western Area Power Administration - Rocky Moun...
10949  Western Area Power Administration - Rocky Moun...
10950  Western Area Power Administration - Rocky Moun...
10951  Western Area Power Administration - Rocky Moun...
10952  Western Area Power Administration - Rocky Moun...

      Total Scaled Power Consumption (MWh)
0                           2594357.769933
1                           2594357.769933
2                           2594357.769933
3                           2594357.769933
4                             32557.927204
...                                    ...
10948                        360305.297169
10949                        360305.297169
10950                        360305.297169
10951                        360305.297169
10952                        360305.297169

[10072 rows x 22 columns]

In [60]:
# Step 4: Select relevant columns for water intensity modeling
columns_to_keep = [
    'Plant state', 'Plant primary fuel code', 'Net generation (MWh)',
    'Water intensity (m3/MWh)', 'Water Consumption (m3)', 'Latitude', 'Longitude',
    'HUC8 ID', 'Characterization factor', 'Total Scaled Power Consumption (MWh)'
]
dfWater = df1_2_4_5[columns_to_keep]

# Display the final merged DataFrame
print(dfWater.columns)

Index(['Plant state', 'Plant primary fuel code', 'Net generation (MWh)',
       'Water intensity (m3/MWh)', 'Water Consumption (m3)', 'Latitude',
       'Longitude', 'HUC8 ID', 'Characterization factor',
       'Total Scaled Power Consumption (MWh)'],
      dtype='object')

Next EDA and pre-processing of data for each.